form {
  border-radius: 8px;
  padding: 24px;
  max-width: 408px;
  height: 296px;
  background: #fff;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;
}

.form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: left;
}

.form-input {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  padding-left: 24px;
  padding-right: 16px;
  display: block;
  margin-bottom: 8px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.form-textarea {
  width: 100%;
  border: 1px solid #808080;
  border-radius: 4px;
  min-height: 80px;
  padding-left: 24px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  margin-bottom: 8px;
  box-sizing: border-box;
  outline: none;
}

.btn-form {
  margin-top: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  max-width: 86px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-textarea:hover,
.form-input:hover {
  border: 1px solid #000;
}

.btn-form:hover {
  background: #6c8cff;
}
